.logo {
  display: block;
  margin: 0 auto 2rem;
}

.main-layout {
  line-height: 1.5;
  max-height: 100vh;
}

@media (min-width: 1024px) {
  .main-layout {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);

    & .wrapper {
      display: flex;
      place-items: flex-start;
      flex-wrap: wrap;
    }
  }

  .logo {
    margin: 0 2rem 0 0;
  }
}
